.advantages {
  margin-bottom: 30px;
}

.advantages__title {
  margin: 0;

  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    margin-left: 175px;
  }
}
