.advantages {
  margin-bottom: 54px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  position: relative;

  margin-bottom: 26px;
  padding-top: 57px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;

  &::before {
    @include pseudo;
  }

  &--eco::before {
    top: 2px;
    left: 8px;

    width: 32px;
    height: 37px;

    background-image: url("../img/svg/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--price::before {
    top: 3px;
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url("../img/svg/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--heart::before {
    top: 8px;
    left: 7px;

    width: 34px;
    height: 27px;

    background-image: url("../img/svg/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--yarn::before {
    top: 5px;
    left: 3px;

    width: 35px;
    height: 34px;

    background-image: url("../img/svg/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--rocket::before {
    top: 6px;
    left: -6px;

    width: 55px;
    height: 23px;

    background-image: url("../img/svg/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--gift::before {
    top: 4px;
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url("../img/svg/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 28px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__title {
    margin-bottom: 47px;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__item {
    margin-bottom: 58px;
    padding-right: 25px;
    width: 50%;

    font-size: 20px;

    &--price {
      order: 2;
    }

    &--heart {
      order: 4;
    }

    &--rocket {
      order: 3;
    }

    &--gift {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 35px;
  }

  .advantages__wrapper {
    margin-left: 175px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    width: 350px;
  }
}
