.catalog {
  margin-top: 30px;
}

.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 69px;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 113px;
    margin-bottom: 2px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-right: 51px;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
  }
}
