.catalog-item {
  width: 260px;
  margin-bottom: 30px;
}

.catalog-item__info {
  padding: 26px;
  padding-bottom: 21px;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__link {
  display: block;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  &--image {
    width: 260px;
    height: 195px;

    font-size: 0;
    line-height: 0;
  }

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 5px;
}

.catalog-item__description {
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
}

.catalog-item__buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding-top: 21px;

  border-top: 1px solid #ececec;
}

.catalog-item__price {
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.catalog-item__button {
  &:hover .catalog-item__icon-path,
  &:focus .catalog-item__icon-path {
    fill: #63d1bb;
  }

  &:active .catalog-item__icon-path {
    fill: rgba(#63d1bb, 0.3);
  }
}

.catalog-item__icon-path {
  fill: rgba(#231f20, 0.2);
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    margin-bottom: 54px;
    width: 668px;
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;

    padding-top: 25px;
    width: 335px;
  }

  .catalog-item__link {
    font-size: 20px;

    &--image {
      width: 334px;
      height: 334px;
    }
  }

  .catalog-item__description {
    margin-bottom: auto;

    font-size: 15px;
  }

  .catalog-item__buy {
    margin-right: 4px;
    margin-left: 4px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    width: 316px;
  }

  .catalog-item__link {
    &--image {
      width: 316px;
      height: 462px;
    }
  }

  .catalog-item__info {
    flex-grow: 1;
    width: 316px;
  }

  .catalog-item__description {
    margin-bottom: 14px;
    flex-grow: 1;
  }

  .catalog-item__buy {
    margin-left: 0;
    padding-top: 22px;
  }
}
