.contacts {
  margin-bottom: 39px;
}

.contacts__wrapper {
  padding: 0;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 30px;

  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.contacts__info {
  margin-bottom: 37px;
  padding: 0 30px;
}

.contacts__email {
  position: relative;

  margin-left: 29px;

  color: #444444;

  &::after {
    @include pseudo;

    bottom: 0;
    right: 2px;

    width: 177px;
    height: 1px;

    background-color: #62d1ba;
  }

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:hover::after,
  &:focus::after {
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &--email {
    margin-bottom: 30px;
  }
}

.contacts__address {
  margin-left: 31px;
  width: 150px;

  font-style: normal;
}

.contacts__map {
  margin-bottom: 39px;
  min-width: 322px;
  height: 457px;
}

.contacts__map-wrapper {
  position: relative;

  margin: 0 auto;
  width: 322px;
  height: 457px;

  &::before {
    @include pseudo;

    top: 145px;
    left: 138px;

    width: 66px;
    height: 101px;

    background-image: url("../img/icon-map-pin.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.contacts__button {
  display: block;
  margin: 0 auto;
  width: 260px;

  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;
  }

  .contacts__wrapper {
    position: relative;

    &::after {
      @include pseudo;

      top: 5px;
      right: 53px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .contacts__title {
    margin-bottom: 49px;
    padding: 0 50px;
    padding-top: 20px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 0 50px;

    font-size: 17px;
  }

  .contacts__item {
    &--email {
      margin: 0;
    }

    &--address {
      margin-left: 52px;
    }
  }

  .contacts__email {
    margin-left: 23px;

    &::after {
      width: 200px;
    }
  }

  .contacts__address {
    margin-left: 26px;
    width: 225px;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__map-wrapper {
    width: 768px;

    &::before {
      top: 139px;
      left: 363px;
    }
  }

  .contacts__button {
    margin: 0 auto;
    width: 230px;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    padding-left: 225px;
    padding-right: 50px;

    &::after {
      top: 63px;
      right: 0;
      left: 113px;
    }
  }

  .contacts__title {
    padding: 0;
    padding-top: 71px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__info {
    flex-direction: column;
    margin-bottom: 79px;
    padding: 0;
  }

  .contacts__item {
    &--email {
      margin-bottom: 30px;
    }

    &--address {
      margin-left: 0;
    }
  }

  .contacts__map {
    position: absolute;
    top: 1px;
    right: 51px;

    margin: 0;
    min-width: auto;
    width: 525px;
  }

  .contacts__map-wrapper {
    width: 525px;

    &::before {
      top: 146px;
      left: 239px;
    }
  }

  .contacts__button {
    margin: 0;
  }
}
