.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.contacts__email-link {
  color: #444444;
}

.contacts__address-info {
  font-style: normal;
}

.contacts__button {
  font-size: 18px;
}
