.copyright__link {
  position: relative;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;

  &::before {
    @include svg-ie;
  }

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: #46c1ae;
  }

  &:active {
    color: rgba(#000000, 0.3);
  }

  &:active .copyright__icon {
    fill: rgba(#46c1ae, 0.3);
  }
}

.copyright__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;

  fill: #63d1bb;
}
