.form-order__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}

.form-order__list {
  @include list-reset;
}

.form-order__input {
  &--text::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form-order__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.form-order__textarea {
  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  border: 2px solid #444444;

  resize: none;
}

.form-order__legend {
  font-size: 14px;
  line-height: 16px;
}

.form-order__button {
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form-order__group {
    margin-bottom: 50px;

    &--background {
      background-color: #f1f1f1;
    }
  }

  .form-order__list {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      width: 480px;
    }
  }

  .form-order__item {
    &--checkbox {
      width: 210px;
    }
  }

  .form-order__input {
    background-color: transparent;
    border: none;

    &--text::placeholder {
      font-size: 19px;
    }
  }

  .form-order__textarea {
    &::placeholder {
      font-size: 19px;
    }
  }

  .form-order__label {
    font-size: 19px;
  }

  .form-order__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form-order__submit {
    display: flex;
  }

  .form-order__legend {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .form-order__list {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      width: 735px;
    }
  }
}
