.form-order__title {
  position: relative;

  margin: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;

  &--type {
    margin-bottom: 20px;
  }

  &--color {
    margin-bottom: 23px;
  }

  &--name {
    margin-bottom: 29px;
  }

  &--phone,
  &--email {
    margin-bottom: 6px;
  }

  &--add {
    margin-bottom: 24px;
  }

  &::before {
    @include pseudo;

    top: 8px;
    left: 0;
    z-index: -1;

    width: 63px;
    height: 1px;

    background-color: white;
  }

  &::after {
    @include pseudo;

    top: 8px;
    right: 0;
    z-index: -2;

    width: 100%;
    height: 1px;

    background-color: #62d1ba;
  }

  &--email::before {
    width: 82px;
  }
}

.form-order__group {
  margin-bottom: 33px;

  &--color {
    margin-bottom: 13px;
  }

  &--add {
    margin-bottom: 7px;
  }
}

.form-order__list {
  @include list-reset;
}

.form-order__item {
  margin: 0;

  &--name {
    margin-bottom: 22px;
  }

  &--contacts {
    position: relative;

    margin-bottom: 34px;
  }
}

.form-order__input {
  font-size: 17px;
  line-height: 18px;

  appearance: none;
  border-radius: 0;

  + .form-order__label--radio::before {
    @include pseudo;

    top: 5px;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid #444444;

    border-radius: 50%;
  }

  &:checked + .form-order__label--radio::after {
    @include pseudo;

    top: 17px;
    left: 12px;

    width: 16px;
    height: 16px;

    background-color: #62d1ba;
    border-radius: 50%;
  }

  + .form-order__label--checkbox::before {
    @include pseudo;

    top: 3px;
    left: 0;

    width: 40px;
    height: 39px;

    border: 2px solid #444444;
  }

  &:checked + .form-order__label--checkbox::after {
    @include pseudo;

    top: 16px;
    left: 8px;

    width: 22px;
    height: 16px;

    background-image: url("../img/svg/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }

  + .form-order__label--radio:hover::before,
  + .form-order__label--checkbox:hover::before {
    border: 2px solid #62d1ba;
  }

  + .form-order__label--radio:active::before,
  + .form-order__label--checkbox:active::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:focus + label {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &--text {
    padding-right: 10px;
    width: 100%;
    height: 52px;

    border: none;
    box-shadow: inset 0 -2px 0 #000000;
    outline: none;

    &:hover,
    &:focus {
      box-shadow: inset 0 -2px 0 #62d1ba;
    }

    &:hover + .form-order__icon,
    &:focus + .form-order__icon {
      fill: #62d1ba;
    }
  }

  &--text::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &--contacts {
    padding-right: 40px;
  }

  &--phone {
    font-size: 19px;
  }
}

.form-order__label {
  position: relative;

  display: block;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;

  cursor: pointer;

  &--radio {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 63px;
  }

  &--checkbox {
    padding-top: 14px;
    padding-bottom: 29px;
    padding-left: 63px;
  }
}

.form-order__icon {
  position: absolute;

  top: 11px;

  fill: rgba(0, 0, 0, 0.2);

  &--phone {
    right: 8px;
  }

  &--mail {
    right: 4px;
  }
}

.form-order__textarea {
  padding: 14px;
  width: 100%;
  height: 142px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid #444444;
  outline: none;

  resize: none;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover,
  &:focus {
    border: 2px solid #62d1ba;
  }
}

.form-order__submit {
  display: flex;

  flex-direction: column;
}

.form-order__legend {
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
}

.form-order__button {
  padding-bottom: 18px;

  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form-order__group {
    margin: 0;
    padding-top: 51px;
    padding-bottom: 26px;

    &--background {
      padding-top: 50px;
      padding-bottom: 26px;
      background-color: #f1f1f1;
    }
  }

  .form-order__wrapper {
    display: flex;
    align-items: flex-start;

    &--color {
      padding-right: 0;
    }
  }

  .form-order__title {
    margin: 0;
    padding-top: 19px;

    &::before,
    &::after {
      display: none;
    }

    &--email {
      white-space: nowrap;
    }
  }

  .form-order__list {
    &--type {
      margin-left: 130px;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      margin-left: 123px;
      width: 525px;
    }

    &--name {
      margin-left: 125px;
      width: 100%;
    }
  }

  .form-order__item {
    &--radio {
      margin-bottom: 21px;
    }

    &--checkbox {
      margin-bottom: 21px;
      width: 262px;
    }

    &--name {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &--contacts {
      margin-bottom: 25px;
      margin-left: 135px;
      width: 100%;
    }

    &--email {
      margin-left: 109px;
    }

    &--textarea {
      width: 100%;
      margin-left: 127px;
    }

    &--add {
      margin-bottom: 44px;
    }
  }

  .form-order__input {
    font-size: 19px;

    background-color: transparent;
    border: none;

    + .form-order__label--radio::before {
      top: 2px;

      width: 52px;
      height: 52px;
    }

    &:checked + .form-order__label--radio::after {
      top: 17px;
      left: 15px;

      width: 22px;
      height: 22px;
    }

    + .form-order__label--checkbox::before {
      top: 0;

      width: 54px;
      height: 52px;
    }

    &:checked + .form-order__label--checkbox::after {
      top: 16px;
      left: 11px;

      width: 33px;
      height: 22px;

      background-size: auto;
    }

    &--text {
      width: 100%;
      height: 52px;
      padding: 0 16px;
    }

    &--contacts {
      padding-right: 55px;
    }
  }

  .form-order__label {
    font-size: 19px;

    &--radio {
      padding-top: 17px;
      padding-bottom: 21px;
      padding-left: 81px;
    }

    &--checkbox {
      padding-top: 16px;
      padding-bottom: 21px;
      padding-left: 81px;
    }

    &--text {
      padding-right: 25px;
    }
  }

  .form-order__icon {
    &--phone {
      right: 26px;
    }

    &--mail {
      right: 22px;
    }
  }

  .form-order__textarea {
    height: 142px;

    font-size: 19px;
  }

  .form-order__submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 17px;
  }

  .form-order__legend {
    order: 1;
    margin: 0;

    font-size: 17px;
  }

  .form-order__button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form-order__wrapper {
    padding-left: 112px;
  }

  .form-order__list {
    &--type {
      margin-left: 76px;
    }

    &--checkbox {
      margin-left: 69px;
      width: 790px;
    }

    &--name {
      margin-right: 175px;
      margin-left: auto;
      width: 700px;
    }
  }

  .form-order__item {
    &--contacts {
      width: 700px;
      margin-right: 175px;
      margin-left: auto;
    }

    &--textarea {
      margin-right: 175px;
      margin-left: auto;
      width: auto;
    }
  }

  .form-order__icon {
    &--phone {
      right: 8px;
    }

    &--mail {
      right: 4px;
    }
  }

  .form-order__textarea {
    width: 700px;
  }

  .form-order__submit {
    padding: 0 225px;
    padding-top: 10px;
  }
}
