.main-navigation__wrapper {
  position: relative;

  padding: 0;
}

.main-navigation__logo {
  padding-top: 22px;
  padding-right: 118px;
  padding-bottom: 13px;
  padding-left: 116px;

  border-bottom: 1px solid #ececec;
}

.main-navigation__toggle {
  position: absolute;
  top: 25px;
  right: 29px;

  padding: 0;
  width: 25px;
  height: 30px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-navigation--closed .main-navigation__toggle::before {
  @include pseudo;

  top: 7px;
  left: 3px;

  width: 20px;
  height: 2px;

  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    @include pseudo;

    top: 13px;
    left: 0;

    width: 27px;
    height: 2px;

    background-color: #221f1f;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  @include list-reset;
}

.main-navigation__text {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__list--site-list,
  .main-navigation--closed .main-navigation__list--user-list {
    display: none;
  }

  .main-navigation--opened .main-navigation__list--site-list,
  .main-navigation--opened .main-navigation__list--user-list {
    display: block;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  }

  .main-navigation__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 50px;
  }

  .main-navigation__logo {
    margin: 0;
    padding-right: 207px;
    padding-left: 0;
    padding-bottom: 11px;

    border-right: 1px solid rgba(68, 68, 68, 0.1);
    border-bottom: none;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list--site-list {
    position: relative;
    z-index: 1;

    order: 2;
    margin-bottom: -64px;
  }

  .main-navigation__list--user-list {
    order: 1;
  }

  .main-navigation__text {
    position: relative;
    z-index: 1;

    display: block;
    order: 3;
    margin: 0;
    margin-left: auto;
    margin-bottom: -64px;
    padding-top: 18px;
    padding-bottom: 18px;

    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__logo {
    padding-top: 9px;
    padding-right: 102px;
    padding-bottom: 0;
    padding-left: 40px;
  }

  .main-navigation__list--site-list {
    order: -1;
  }

  .main-navigation__list--user-list {
    z-index: 0;

    order: 1;
    margin-bottom: 0;
  }

  .main-navigation__text {
    margin-bottom: -56px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
