.navigation-list {
  @include list-reset;
}

.navigation-list__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.navigation-list__svg {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .navigation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
