.page-footer {
  padding-top: 24px;
  padding-bottom: 23px;

  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-bottom: 21px;
  padding-right: 55px;
  padding-bottom: 19px;
  padding-left: 57px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 47px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-footer__logo {
    position: relative;

    display: block;
    margin-right: 159px;

    &::before {
      @include svg-ie;
    }

    &[href]:hover .page-footer__logo-image,
    &[href]:focus .page-footer__logo-image {
      fill: #46c1ae;
    }

    &[href]:active .page-footer__logo-image {
      fill: rgba(#46c1ae, 0.3);
    }
  }

  .page-footer__logo-image {
    fill: #231f20;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
    padding-top: 9px;
    border-bottom: none;
  }

  .page-footer__copyright {
    margin-left: auto;
    padding-top: 2px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-right: 350px;
  }
}
