.promo {
  margin-bottom: 34px;
}

.promo__title {
  margin: 0;

  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.promo__subtitle {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.promo__text {
  line-height: 24px;
}

.promo__options {
  line-height: 20px;

  border-collapse: collapse;
}

.promo__image {
  width: 260px;
  height: 315px;
}

.promo__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.promo__order {
  display: block;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
  }

  .promo__header {
    display: flex;
    justify-content: space-between;
  }

  .promo__title {
    font-size: 43px;
    line-height: 50px;
  }

  .promo__subtitle {
    padding-top: 10px;
    width: 70px;

    line-height: 17px;
    text-align: center;
  }

  .promo__image {
    position: absolute;
    top: 70px;
    right: 50px;
  }

  .promo__text {
    width: 282px;

    font-size: 17px;
    line-height: 30px;
  }

  .promo__buy {
    width: 295px;
  }

  .promo__price {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo__header {
    width: 700px;
  }

  .promo__info {
    margin-left: 175px;
  }

  .promo__title {
    order: 1;

    font-size: 53px;
    line-height: 57px;
  }

  .promo__image {
    z-index: -1;
    top: 0;
    right: 300px;
  }
}
