.sale-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .sale-list {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }

  .sale-list__item {
    margin-right: 59px;
  }

  .sale-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .sale-list__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;

    &[href]:hover,
    &[href]:focus {
      color: rgba(#000000, 0.6);
    }

    &[href]:active {
      color: rgba(#000000, 0.3);
    }
  }
}
