.site-list__item {
  border-bottom: 1px solid #ececec;

  &--sale {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding-top: 26px;
  padding-right: 56px;
  padding-bottom: 28px;
  padding-left: 75px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  &[href]:hover,
  &[href]:focus {
    color: rgba(#000000, 0.6);
  }

  &[href]:active {
    color: rgba(#000000, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 384px;
  }

  .site-list__item {
    margin-right: 35px;

    border: none;
  }

  .site-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .site-list__link {
    font-size: 15px;

    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 410px;
  }

  .site-list__item {
    margin: 0;
    border-right: 1px solid rgba(68, 68, 68, 0.1);

    &--decor {
      border-right: none;
    }

    &--sale {
      display: block;
      margin-bottom: -56px;
      margin-right: 59px;
    }
  }

  .site-list__link {
    padding-top: 31px;
    padding-right: 35px;
    padding-bottom: 35px;

    font-size: 17px;

    &--desktop {
      padding-left: 34px;
    }

    &--sale {
      padding-top: 16px;
      padding-right: 0;
      padding-bottom: 16px;

      font-size: 15px;
    }
  }
}
