.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  width: 187px;

  list-style: none;
}

.social__item {
  width: 60px;

  text-align: center;
}

.social__link {
  display: inline-block;
  vertical-align: top;

  position: relative;

  &::before {
    @include svg-ie;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: #46c1ae;
  }

  &:active .social__icon {
    fill: rgba(#46c1ae, 0.3);
  }

  .social__icon {
    fill: #231f20;
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    text-align: left;
  }
}
