.social__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  margin-right: 41px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: inline-block;
  vertical-align: top;

  position: relative;

  &::before {
    @include svg-ie;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: #46c1ae;
  }

  &:active .social__icon {
    fill: rgba(#46c1ae, 0.3);
  }

  .social__icon {
    fill: #231f20;
  }
}

@media (max-width: $tablet-width) {
  .social__list {
    width: 148px;
  }
}
